body, html {
    height: 100%;
  }

  .color-text {
      color: #0f3057;
  }

.project {
    background-color: #adafff;
    margin-bottom: 100px;
}

.parallax {
    /* The image used */
    background-image: url("../image/clientbg.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cl3 {
      height: 100px;
      width: 300px;
  }

  .cl4 {
      height: 200px;
      width: 150px;
  }

  .cl5 {
      height: 150px;
      width: 250px;
  }

  .cl6 {
      height: 200px;
      width: 200px;
  }

  .col-award{
      border: 1px solid black;
  }

  .talk {
    background-color: #bfc0fc;
  }